<!DOCTYPE html>
<html>
  <head>
    <title>Banner - <%= VERSION %></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <%= yield %>
    <section>
  </body>
</html>